
body {                
    color: #FFFFFB;   
    font-weight: bold; 
    font-size: 1.2rem;
}
header {
    background-color: lime;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;          
}
.logo {
    color: black;
} 
ul{
    display: flex;
    list-style-type:none;
}
li{
    margin: 28px 30px;
}
#login {
    margin-left: 25%;
}
.navlink {
    text-decoration: none;
    color: white;
    font-size: 16pt;
    transition: font-size 0.5s;
}
.navlink:hover {
    color: black;
    font-size: 18pt;
}
section {
    padding: 30vh 0;
}
.one {
    background-color: #FFC145;
    position: relative;
}
.bookIcon {
    width: 70%;
    height: 250px;
    margin: 0 auto;
    border-radius: 2px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    background-color: rgba(50, 102, 180, 0.7);
}
.bookbt {
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: padding 1s;
    font-size: 16pt;
}
.bookbt:hover {
    padding: 20px;
}
.one::after,
.one::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FFC145;
    bottom: -15px;
    z-index: 50;
}
.one::after {
    right: 50%;
    transform: skew(0, 20deg);
}
.one::before {
    left: 50%;
    transform: skew(0, -20deg);
}
.two {
    background-color: #FF6B6C;
    position: relative;
    z-index: 10;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    margin-bottom: -10vw;
}
.twoImage {
    /* clip-path: circle(50% at 50% 50%); */
    /* clip-path: polygon(50% 50%, 100% 100%, 0% 100%);triangle */
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.three {
    background-color: #5B5F97;
}